/*!*******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*******************************************************************************************************************************************************/
@font-face {
  font-family: "LibreBaskerville";
  src: url(LibreBaskerville-Bold.6e5f70731aeed7c6e895.ttf) format(ttf), url(LibreBaskerville-Bold.09aafcd6c3e8871bfcc6.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url(OpenSans-Regular.77c09223204154ae8d43.ttf) format(ttf), url(OpenSans-Regular.14930c8a662b09b2f1d3.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url(OpenSans-Bold.fa428cdd2e334e2be904.ttf) format(ttf), url(OpenSans-Bold.faba3f504f533af53a2f.woff) format(woff);
  font-weight: 700;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted currentColor;
          text-decoration: underline dotted currentColor; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.about__title {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  color: #1c1c1c;
}

.articles__title, .article__title {
  font-family: "LibreBaskerville", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  color: #000000;
}

.about, .about-author__text, .article__text, .article__text_lg {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.about-author__tag, .article__tag {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: rgba(28, 28, 28, 0.5);
}

.about-author__author, .article__author, .article__time, .article__readtime, .article__hashtags {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(28, 28, 28, 0.5);
}

.articles-nav__text, .menu__item {
  font-family: "LibreBaskerville", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

:active,
:hover,
:focus {
  outline: none;
  outline-offset: none;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: inherit;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 31px 25px 25px;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}
.header__nav {
  margin-left: 51px;
}

@media (max-width: 510px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 510px) {
  .header__nav {
    margin-left: 0;
    margin-top: 20px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 236px;
}
.menu__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #383125;
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.banner, .banner__article4, .banner__article3, .banner__article2 {
  background-image: url(banner-bg.088b4e023ad33ce47e2b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 592px;
}
.banner_bottom {
  background-image: url(banner-btm-bg.a6c98d2e4aaccfc7343d.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner_bottom .article {
  margin-right: 78px;
}

.article {
  width: 509px;
  background-color: #FFFFFF;
  padding: 76px 40px 96px;
  margin-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.article__info {
  margin-top: 12px;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__dot {
  width: 3px;
  height: 3px;
  background-color: rgba(28, 28, 28, 0.5);
  margin-left: 9px;
  margin-right: 10px;
}
.article__hashtags {
  margin-bottom: 26px;
}
.article_sm {
  width: 430px;
  height: 300px;
  overflow: hidden;
  margin-left: 55px;
  position: relative;
}
.article_sm::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(rgba(255, 255, 255, 0), white 100%);
  pointer-events: none;
}
.article_lg {
  width: 652px;
  margin: 0 auto;
  padding: 76px 0px 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.article__text_lg {
  text-align: left;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .article {
    width: 612px;
    padding: 30px 20px;
  }
}
@media (max-width: 630px) {
  .article {
    width: 550px;
    padding: 30px 20px;
  }
}
@media (max-width: 460px) {
  .article {
    width: 300px;
    margin-left: 10px;
  }
}
@media (max-width: 320px) {
  .article {
    width: 270px;
  }
}
@media (max-width: 768px) {
  .article__title {
    font-size: 24px;
    line-height: 26px;
  }
}
@media (max-width: 400px) {
  .article__title {
    max-width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 510px) {
  .article__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 400px) {
  .article__info {
    max-width: 320px;
    margin: 10px auto;
  }
}
@media (max-width: 768px) {
  .article__author, .article__time, .article__readtime, .article__hashtags {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .article__text {
    max-width: 320px;
    margin: 0 auto;
  }
}

.about-author {
  padding-top: 50px;
  text-align: left;
}
.about-author__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 15px;
}
.about-author__photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-author__article {
  width: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 37px;
}
.about-author__text {
  padding-top: 13px;
}

@media (max-width: 600px) {
  .about-author {
    padding-top: 20px;
  }
  .about-author__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 500px) {
  .about-author__tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-author__text {
    max-width: 300px;
  }
  .about-author__article {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px 10px;
}
.articles__title {
  position: relative;
}
.articles__title::after {
  content: "";
  width: 190px;
  height: 5px;
  background-color: #1c1c1c;
  position: absolute;
  top: 48px;
  left: calc(50% - 95px);
}
.articles__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 54px;
}
.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}
.articles__photo {
  width: 372px;
  height: 298px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .articles__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 900px) {
  .articles__photo {
    margin-bottom: 40px;
  }
}
@media (max-width: 510px) {
  .articles__article {
    margin-left: 0;
    text-align: center;
  }
}

.articles-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: calc(100vw - 15px);
}
.articles-nav__link {
  display: inline-block;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.articles-nav__text {
  display: inline-block;
  font-weight: 400;
  vertical-align: 65px;
}
.articles-nav__text_back {
  margin-left: 34px;
}
.articles-nav__text_next {
  margin-right: 29px;
}
.articles-nav__arrow {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#back {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1200px) {
  .articles-nav__text {
    font-size: 16px;
  }
  .articles-nav__arrow {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .articles-nav {
    width: 100vw;
  }
  .articles-nav__text {
    font-size: 12px;
  }
  .articles-nav__arrow {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 650px) {
  .articles-nav__text {
    display: none;
  }
}

.about {
  margin-top: 95px;
  padding: 25px 0;
}
.about__title {
  line-height: 52px;
  text-align: center;
}
.about__inner {
  max-width: 856px;
  margin: 0 auto;
}
.about img {
  float: right;
}
@media (max-width: 430px) {
  .about img {
    width: 290px;
  }
}

.banner__article2 {
  background-image: url(photo-article1.eca5e0b3b66d20d633e0.jpg);
}

.banner__article3 {
  background-image: url(photo-article2.4c11be3693e37d4e4b09.jpg);
}

.banner__article4 {
  background-image: url(photo-article3.d136a9933dc7362a752f.jpg);
}

.banner__article4 {
  background-image: url(banner-btm-bg.a6c98d2e4aaccfc7343d.jpg);
}
