@use 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: variables.$primary-color;
  }

:active,
:hover,
:focus {
    outline: none;
    outline-offset: none;
}

li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: inherit;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 31px 25px 25px;
}