$primary-color: #FFFFFF;
$text-color: #000000;
$tag-color: rgba(28, 28, 28, 0.5);

$photo-width: 371px;
$photo-height: 298px;
$photo-width-tablet: 264px;
$photo-height-tablet: 232px;
$photo-width-mobile: 270px;
$photo-height-mobile: 100px;

