@use "../base/variables";
@use "../base/extends";

.about {
    margin-top: 95px;
    padding: 25px 0;
    @extend %paragraph-text;

    &__title {
        @extend %h1-text;
        line-height: 52px;
        text-align: center;
    }

    &__inner {
        max-width: 856px;
        margin: 0 auto;
    }

    img {
        float: right;

        @media (max-width: 430px) {
            width: 290px;
        }
    }
}
