@use "../../base/variables";
@use "../../base/extends";

.article {
    width: 509px;
    background-color: variables.$primary-color;
    padding: 76px 40px 96px;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    &__tag {
        @extend %tag-text;
    }

    &__title {
        @extend %h2-text;
    }

    &__info {
        margin-top: 12px;
        margin-bottom: 14px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__dot {
        width: 3px;
        height: 3px;
        background-color: variables.$tag-color;
        margin-left: 9px;
        margin-right: 10px;
    }

    &__author,
    &__time,
    &__readtime,
    &__hashtags {
        @extend %date-text;
    }

    &__hashtags {
        margin-bottom: 26px;
    }

    &__text,
    &__text_lg {
        @extend %paragraph-text;
    }

    &_sm {
        width: 430px;
        height: 300px;
        overflow: hidden;
        margin-left: 55px;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(rgba(255, 255, 255, 0), white 100%);
            pointer-events: none;
        }
    
    }

    &_lg {
        width: 652px;
        margin: 0 auto;
        padding: 76px 0px 96px;
        align-items: center;
        text-align: center;
    }

    &__text_lg {
        text-align: left;
        margin-bottom: 25px;
    }
}
