.article {
    @media (max-width: 768px) {
        width: 612px;
        padding: 30px 20px;
    }

    @media (max-width: 630px) {
        width: 550px;
        padding: 30px 20px;
    }

    @media (max-width: 460px) {
        width: 300px;
        margin-left: 10px;
    }

    @media (max-width: 320px) {
        width: 270px;
    }

    &__title {
        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 26px;
        }

        @media (max-width: 400px) {
            max-width: 320px;
            margin: 0 auto;
        }
    }

    &__info {
        @media (max-width: 510px) {
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 400px) {
            max-width: 320px;
            margin: 10px auto;
        }
    }

    &__author,
    &__time,
    &__readtime,
    &__hashtags {
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &__text {
        @media (max-width: 400px) {
            max-width: 320px;
            margin: 0 auto;
        }
    }
}
