@font-face {
    font-family: "LibreBaskerville";
    src: url(../assets/fonts/LibreBaskerville-Bold.ttf) format(ttf),
        url(../assets/fonts/LibreBaskerville-Bold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
    src: url(../assets/fonts/OpenSans-Regular.ttf) format(ttf),
     url(../assets/fonts/OpenSans-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url(../assets/fonts/OpenSans-Bold.ttf) format(ttf),
     url(../assets/fonts/OpenSans-Bold.woff) format(woff);
    font-weight: 700;
}
